<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    mixin meta(name, content)
        meta(name=name)&attributes({content: content})
    +meta('keywords', header.keywords)
    +meta('description', header.description)
    +meta('author', header.author)
    +meta('viewport', header.viewport)
    +meta('copyright', header.copyright)
    title #{header.title}
</head>

<body>
    div#root !{appString}
</body>

</html>
